[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalendar = "*"
playwright = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]
freezegun = "*"
isort = "*"
syrupy = "*"
pyinstaller = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.6"

[scripts]
start-api = "sh -c 'python -m weduc_timetable_extractor api'"
start-ical = "sh -c 'python -m weduc_timetable_extractor ical'"
test = "pytest"
